.card-title, .demo-header {
  text-align: center;
}

.title {
  margin: 20px 0;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
 .advancedDemo .dropzone ul {
  min-height: 42px;
  margin: 0px;
  padding-left: 0px;
}

.advancedDemo .dropzone li {
  display: block;
}

/**
* Reduce opacity of elements during the drag operation. This allows the user
* to see where he is dropping his element, even if the element is huge. The
* .dndDragging class is automatically set during the drag operation.
*/
.advancedDemo .dropzone .dndDragging {
  opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation.
 */
 .advancedDemo .dropzone .dndDraggingSource {
  opacity: 0.5;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
 .advancedDemo .dropzone .dndPlaceholder {
  background-color: #ddd !important;
  display: block;
  min-height: 42px;
}

h4 {
  text-align: center;
}

/***************************** Element type specific styles *****************************/

.advancedDemo .dropzone .itemlist {
  min-height: 120px !important;
}

.advancedDemo .dropzone .itemlist > li {
  background-color: #337ab7;
  border: none;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-weight: 400;
  height: 50px;
  margin: 5px;
  padding: 3px;
  text-align: center;
  width: 80px;
  line-height: 21px;
}

.advancedDemo .dropzone .container-element {
  margin: 10px 0;
  background-color: #f7f7f7;
  padding: 10px;
}


.current-model {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 18px 22px;
}
