.card-title, .demo-header {
  text-align: center;
}

.title {
  margin: 20px 0;
}
/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop into it once it's empty
 */
 .multiDemo ul {
  min-height: 42px;
  padding-left: 0px;
}

/**
* An element with .dndPlaceholder class will be
* added to the dndList while the user is dragging
* over it.
*/
.multiDemo ul .dndPlaceholder {
  background-color: #ddd;
  display: block;
  min-height: 42px;
}

.multiDemo ul li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
}

/**
* Show selected elements in green
*/
.multiDemo ul li.selected {
  background-color: #dff0d8;
  color: #3c763d;
}

.current-model {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 18px 22px;
}
