<header class="demo-header">
  <h1 class="title">Demo: Multiselect Lists</h1>

  <div class="alert alert-success">
      <strong>Instructions:</strong>
      Click on items to select/unselect them. When dragging, all selected items will be moved at once.
  </div>
</header>
<div class="container">
  <div class="multiDemo row">
      <div class="col-md-8">
          <div class="row">
              <div *ngFor="let list of models" class="col-md-6">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                        <h5 class="panel-title">List {{list.listName}}</h5>
                      </div>
                      <div class="panel-body">
                        <ul dndList (dndDrop)="onDrop($event, list)">
                            <li *ngFor="let item of list.items"
                                [dndDraggable]="getSelectedItemsIncluding(list, item)"
                                (dndDragstart)="onDragstart($event, list, item)"
                                (dndMoved)="onMoved(i, list)"
                                (dndDragend)="list.dragging = false"
                                (dndSelected)="onSelectItem(item)"
                                [ngClass]="{'selected': item.selected}"
                                [hidden]="list.dragging && item.selected">
                                {{item.label}}
                          </li>
                        </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div view-source="multi"></div>
      </div>
      <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Generated Model</h5>
              <div class="card-text">
                <pre class="current-model" [innerHTML]="models | prettyprint"></pre>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
